:root {
    --white: white;
    --orange: rgba(245, 143, 20, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: url("tacos.jpg") no-repeat;
    background-position: center;
}

/* ----------------- Home Page Header ------------------- */
.restaurant-name {
    font-family: 'Luckiest Guy', cursive;
    padding-top: 2.4rem;
    font-size: 3rem;
    color: var(--white);
    height: 50%;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 17vh;
    background-color: var(--orange);
}

.nav {
    height: 50%;
    display: flex;
    align-items: center;
}

.nav-btn {
    font-weight: 400;
    color: var(--white);
    background-color: rgba(245, 143, 20, 0);
    border: none;
    height: 3rem;
    font-size: 1.3rem;
    margin: 10px 32px 0 0;
    transition-duration: 0.3s;
}

.nav-btn:hover {
    margin: 0 30px 0 0;
}
/* ------------------------------------------------------ */

/* ------------------ Home Page -------------------- */
.main {
    display: flex;
    flex-direction: column;
    height: 83vh;
    justify-content: center;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-top {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5px;
}

.description-bottom {
    color: #a37800;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.order-btn {
    width: 8.5rem;
    height: 2.5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--white);
    letter-spacing: 1px;
    font-size: 1rem;
    transition-duration: 0.3s;
}

.order-btn:hover {
    background:rgb(245, 143, 20);
    color: var(--white);
    width: 9rem;
    height: 3rem;
}
/* --------------------------------------------- */

/* -------------- Menu Page -------------------- */